.ingredients {
	width: 100%;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.ingredients__title {
	margin: 0;
	padding: 0;
	width: 100%;
}

.ingredients__tabs {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.ingredients__content {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 40px;
	max-height: 756px;
	overflow-y: scroll;
}

.ingredients__content::-webkit-scrollbar{
	width: 8px;
	color: #8585AD;
}
.ingredients__content::-webkit-scrollbar-track{
	background-color: #2F2F37;
}

.ingredients__content::-webkit-scrollbar-thumb{
	background-color: #8585AD;
}


.ingredients__container {
	max-width: 100%;
}

.ingredients__cards {
	display: grid;
	max-width: 600px;
	width: 100%;
	grid-template-columns: 284px 284px;
	row-gap: 32px;
	column-gap: 24px;
	margin-top: 24px;
}
